<!DOCTYPE html>
<html>
<head>
    <title>OracleMist Cloud</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <!-- Loading spinner animation -->
    <div id="loading" class="loader hidden"></div>

    <!-- Header -->
    <header>
        <h1>Welcome to OracleMist Cloud</h1>
        <p>Your Cloud Solution Provider | Get Free Rdp/Vps </p>
      <p>Start 25/8/2023</p>
      
    </header>

    <!-- Features Section -->
    <section class="features">
        <div class="feature">
            <h2>Powerful Cloud Services by LykHost</h2>
            <p>Experience the power of OracleMist Cloud's advanced services.</p>
            <button class="btn">Discord</button>
        </div>
        <div class="feature">
            <h2>24/7 Support</h2>
            <p>Our dedicated team is here to assist you around the clock.</p>
            <button class="btn">Stats Website</button>
        </div>
        <div class="feature">
            <h2>Unlimited SSD Cloud Storage</h2>
            <p>Unlimited SSD Cloud Storage 5T/s For Your Vps/Rdp</p>
            <button class="btn">Learn More</button>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>Contact us at: contact@omc.lykhost.link</p>
        <iframe src="https://discord.com/widget?id=1127238832094461952&theme=dark" width="350" height="300" allowtransparency="true" frameborder="0"></iframe>
    </footer>

    <!-- JavaScript to hide loading spinner -->
    <script>
        window.addEventListener("load", function () {
            const loadingSpinner = document.getElementById("loading");
            loadingSpinner.classList.add("hidden");
        });
    </script>
    <!-- JavaScript for countdown timer -->
    <script src="/js/countdown.js"></script>
  
  <!-- Back to Top Button -->
<div class="scroll-button top" id="scrollToTop">
    <span>&#8593;</span> <!-- Up arrow Unicode character -->
</div>

<!-- Scroll to Bottom Button -->
<div class="scroll-button bottom" id="scrollToBottom">
    <span>&#8595;</span> <!-- Down arrow Unicode character -->
</div>
<script src="/js/scroll.js"></script>
  
</body>
</html>
